.container{
    margin-top: 1%;
}

img.logo{
    height: 50px;
}

.title{
    text-align: center;
}

footer{
    background-color: gray;
    text-align: center;
    margin-top: 1%;
    height: 30px;
}

#footerSize{
    margin-top: 4.5%;
}

.btn{
    width: 100%;
}